@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-size: 81.25%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--very-light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siteHeadingSection {
  margin-bottom: 4rem;
}

.headingLight {
  font-size: 2.4rem;
  font-weight: 200;
}

.headingLight > p {
  margin-bottom: 0;
}

.card {
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: 200px;
  box-shadow: 1px 3px 8px 2px rgb(0 0 0 / 20%);
}

.cardOne > div {
  border-top: 0.3rem solid var(--cyan);
  margin-top: 30%;
}

.cardTeamKarma > div:first-child {
  border-top: 0.3rem solid var(--red);
}

.cardTeamKarma > div:nth-child(2) {
  border-top: 0.3rem solid var(--orange);
}

.cardFour > div {
  border-top: 0.3rem solid var(--blue);
  margin-top: 30%;
}

@media only screen and (max-width: 1080px) {
  .container{
    padding-right: 25px !important;
    padding-left: 25px !important;
  }

  .cardOne > div {
    margin-top: 0 !important;
  }

  .cardFour > div {
    margin-top: 0 !important;
  }

  .headingLight{
    font-size: 2.2rem !important;
  }

  h1 {
    font-size: 2.3rem !important;
  }

  .mobilePara{
    display: block !important;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 1.2rem;
  }

  .desktopPara{
    display: none !important;
  }
}

.mobilePara{
  display: none;
}

.desktopPara{
  display: block;
  text-align: center;
}
